header {

}

body {
    header {
        background-color: grey;
        display: flex;
    }
    section {
        display:flex;
        justify-content: center;
        h2 {
            justify-content: center;
        }
    }
    .best_movie {
        font-size: 3em;
    }
}